footer {
  box-sizing: border-box;
  width: 100vw;
  height: 194px;
  border-top: 1px solid #e8ff5a;
}

.footer_info {
  display: flex;
  box-sizing: border-box;
  padding: 0px 10px 0px 20px;
  padding-top: 35px;
  width: 100%;
  height: 146px;
  background-color: #3f1acc;
}

#place {
  height: 10px;
  margin-bottom: 12px;

  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 125%;
  /* identical to box height, or 10px */

  letter-spacing: -0.07em;

  color: #ffffff;
}

.footer_left{
  display: flex;
  flex-direction: column;
}

.footer_left_row{
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 300;
  font-size: 8px;
  line-height: 125%;
  /* identical to box height, or 10px */
  margin-bottom: 6px;

  letter-spacing: -0.07em;

  color: #FFFFFF;
}


.footer_left_row strong {
  margin-right: 2px;
  font-weight: 500;
}

.footer_right{
  position: absolute;
  left:calc(50% + 16px);
}

.footer_right .green_info{
  margin-bottom: 2px;
  font-family: CaviarDreams;
  font-style: normal;
  font-weight: 700;
  font-size: 7px;
  line-height: 125%;
  color: #E8FF5A;
}

.call_center{
  display: flex;
  flex-direction: column;
  margin-bottom: 9px;
}

#call_number{
  font-family: CaviarDreams;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 125%;
  /* identical to box height, or 15px */
  color: #FFFFFF;
}

#call_number a{ /* for Iphone call number blue issue */
  color: #FFFFFF;
}

.bank_info{
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

#bank_info_text{
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 125%;
  letter-spacing: -0.1em;

  color: #FFFFFF;
}

#bank_info_text a{ /* for Iphone call number blue issue */
  color: #FFFFFF;
}

#bank_info_text strong{
  font-weight: 700;
}

#bank_info_text b{
  margin: 0px 2px;
  font-family: CaviarDreams;
  font-style: normal;
  font-weight: 700;
}

.basic_infos{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
  padding: 0px 20px;
  background-color: #e8ff5a;
}

.copyright p {
  font-family: CaviarDreams;
  font-style: normal;
  font-weight: bold;
  font-size: 8px;
  line-height: 125%;
  /* identical to box height, or 10px */

  color: #000000;
}

.copyright img {
  width: 56px;
  height: 11px;
}
