header {
  position: fixed;
  z-index: 3;
  display: flex;
  width: 100vw;
  height: 68px;
  font-family: CaviarDreams;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
  background-color: #ffffff;
}

#logo {
  position: absolute;
  top: 20px;
  width: 242px;
  left: 20px;
}

#home_number {
  position: absolute;
  height: 13px;
  right: 84px;
  top: 36px;

  font-family: CaviarDreams;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 13px;
  /* identical to box height */

  letter-spacing: -0.02em;

  color: #000000;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}

#home {
  position: absolute;
  top: 29px;
  right: 75px;
  width: 24px;
  height: 24px;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}

.inv_home {
  opacity: 0;
}

.vis_home {
  opacity: 1;
}

/*************************fixed hamburger**************************/

#fixed_hamburger {
  position: fixed;
  width: 40px;
  height: 20px;
  right: 20px;
  top: 38px;
  z-index: 12;
}

.hamburger_line {
  position: absolute;
  width: 40px;
  height: 1px;
  background-color: black;
  -webkit-transform: translateZ(0);
  -webkit-transform: translate3d(0, 0, 0);
  transition: -webkit-transform 5s linear, transform 5s linear, top 5s linear,
    right 5s linear, background-color 10s;
}

#top_bread {
  top: 0px;
  right: 0px;
}

#patty {
  top: 5px;
  right: 0px;
}

#bottom_bread {
  top: 10px;
  right: 0px;
}

#fixed_hamburger .one_line {
  top: 5.571px;
  right: 2.86px;
}

#fixed_hamburger .X_1 {
  top: 11.142px;
  right: 5.72px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #3f1acc;
}

#fixed_hamburger .X_2 {
  top: 11.142px;
  right: 5.72px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #3f1acc;
}

/*************************fixed hamburger Finish**************************/
