/*******************Prevent Bounce Effect**********************/
body,
html {
  position: fixed;
  width: 100%;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
}

header {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  -webkit-overflow-scrolling: touch;
}

#transparent_layer {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  -webkit-overflow-scrolling: touch;
}

#top_bread {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  -webkit-overflow-scrolling: touch;
}

#patty {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  -webkit-overflow-scrolling: touch;
}

#bottom_bread {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  -webkit-overflow-scrolling: touch;
}

/***************************************************************/
