@font-face {
  font-family: CaviarDreams;
  src: url("https://wintainstorage.s3.ap-northeast-2.amazonaws.com/uploads/fonts/caviardreams.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: CaviarDreams;
  src: url("https://wintainstorage.s3.ap-northeast-2.amazonaws.com/uploads/fonts/caviardreams_bold.woff")
    format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: CaviarDreams;
  src: url("https://wintainstorage.s3.ap-northeast-2.amazonaws.com/uploads/fonts/caviardreams.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: CaviarDreams;
  src: url("https://wintainstorage.s3.ap-northeast-2.amazonaws.com/uploads/fonts/caviardreams_bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: NotoSansKR;
  src: url("https://wintainstorage.s3.ap-northeast-2.amazonaws.com/uploads/fonts/NotoSansKR-Thin.woff2")
      format("woff2"),
    url("https://wintainstorage.s3.ap-northeast-2.amazonaws.com/uploads/fonts/NotoSansKR-Thin.woff")
      format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: NotoSansKR;
  src: url("https://wintainstorage.s3.ap-northeast-2.amazonaws.com/uploads/fonts/NotoSansKR-Light.woff2")
      format("woff2"),
    url("https://wintainstorage.s3.ap-northeast-2.amazonaws.com/uploads/fonts/NotoSansKR-Light.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: NotoSansKR;
  src: url("https://wintainstorage.s3.ap-northeast-2.amazonaws.com/uploads/fonts/NotoSansKR-Regular.woff2")
      format("woff2"),
    url("https://wintainstorage.s3.ap-northeast-2.amazonaws.com/uploads/fonts/NotoSansKR-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: NotoSansKR;
  src: url("https://wintainstorage.s3.ap-northeast-2.amazonaws.com/uploads/fonts/NotoSansKR-Regular.woff2")
      format("woff2"),
    url("https://wintainstorage.s3.ap-northeast-2.amazonaws.com/uploads/fonts/NotoSansKR-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: NotoSansKR;
  src: url("https://wintainstorage.s3.ap-northeast-2.amazonaws.com/uploads/fonts/NotoSansKR-Medium.woff2")
      format("woff2"),
    url("https://wintainstorage.s3.ap-northeast-2.amazonaws.com/uploads/fonts/NotoSansKR-Medium.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: NotoSansKR;
  src: url("https://wintainstorage.s3.ap-northeast-2.amazonaws.com/uploads/fonts/NotoSansKR-Bold.woff2")
      format("woff2"),
    url("https://wintainstorage.s3.ap-northeast-2.amazonaws.com/uploads/fonts/NotoSansKR-Bold.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: NotoSansKR;
  src: url("https://wintainstorage.s3.ap-northeast-2.amazonaws.com/uploads/fonts/NotoSansKR-Bold.woff2")
      format("woff2"),
    url("https://wintainstorage.s3.ap-northeast-2.amazonaws.com/uploads/fonts/NotoSansKR-Bold.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: NotoSansKR;
  src: url("https://wintainstorage.s3.ap-northeast-2.amazonaws.com/uploads/fonts/NotoSansKR-Black.woff2")
      format("woff2"),
    url("https://wintainstorage.s3.ap-northeast-2.amazonaws.com/uploads/fonts/NotoSansKR-Black.woff")
      format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "inputfont";
  src: url("https://wintainstorage.s3.ap-northeast-2.amazonaws.com/uploads/fonts/inputfont.woff2")
      format("woff2"),
    url("https://wintainstorage.s3.ap-northeast-2.amazonaws.com/uploads/fonts/inputfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: NotoSansKR;
}
