footer {
  box-sizing: border-box;
  width: 100vw;
  height: 263px;
}

.footer_info {
  display: flex;
  box-sizing: border-box;
  padding: 0px 10px 0px 20px;
  padding-top: 40px;
  width: 100%;
  height: 209px;
  background-color: #3f1acc;
}

#place {
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 125%;
  /* identical to box height, or 10px */

  letter-spacing: -0.07em;

  color: #ffffff;
}

#wintain_place {
  margin-bottom: 25px;

  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 125%;
  /* identical to box height, or 10px */

  letter-spacing: -0.07em;

  color: #ffffff;
}

.footer_left {
  display: flex;
  flex-direction: column;
}

.footer_left_row {
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 125%;
  /* identical to box height, or 10px */
  margin-bottom: 6px;

  letter-spacing: -0.07em;

  color: #ffffff;
}

.footer_left_row b {
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 125%;
  /* identical to box height, or 10px */
  margin-bottom: 6px;

  letter-spacing: -0.07em;

  color: #ffffff;
}

.footer_left_row strong {
  font-family: NotoSansKR;
  font-style: normal;
  font-size: 10px;
  line-height: 125%;
  /* identical to box height, or 10px */
  margin-bottom: 6px;

  letter-spacing: -0.07em;

  color: #ffffff;
  margin-right: 2px;
  font-weight: 500;
}

.footer_right {
  position: absolute;
  left: calc(50% + 16px);
  right: 20px;
}

.footer_right .green_info {
  margin-bottom: 2px;
  font-family: CaviarDreams;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 125%;
  color: #e8ff5a;
}

.call_center {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

#call_number {
  font-family: CaviarDreams;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  /* identical to box height, or 15px */
  color: #ffffff;
  text-shadow: -0.1px -0.1px 0 currentColor, 0.1px -0.1px 0 currentColor,
    -0.1px 0.1px 0 currentColor, 0.1px 0.1px 0 currentColor;
}

#call_number a {
  font-family: CaviarDreams;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  /* for Iphone call number blue issue */
  color: #ffffff;
}

.bank_info {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#bank_info_text {
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: -0.1em;

  color: #ffffff;
}

#bank_info_text a {
  /* for Iphone call number blue issue */
  color: #ffffff;
}

#bank_info_text strong {
  font-weight: 700;
}

#bank_info_text b {
  margin: 0px 2px;
  font-family: CaviarDreams;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
}

#bank_info_text b a {
  margin: 0px 2px;
  font-family: CaviarDreams;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
}

#bank_owner {
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: -0.1em;

  color: #ffffff;
}

.basic_infos {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 54px;
  padding: 0px 20px;
  background-color: #e8ff5a;
}

.copyright p {
  margin-top: 3px;

  font-family: CaviarDreams;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 125%;
  /* identical to box height, or 10px */

  color: #000000;
}

.copyright img {
  width: 56px;
  height: 11px;
}
