#transparent_layer {
  z-index: 5;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.4s;
}

#transparent_layer.inactive_transparent_layer {
  background-color: rgba(0, 0, 0, 0);
}

#transparent_layer.hide_to_back {
  z-index: -1;
}

nav {
  z-index: 10;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  padding-bottom: env(safe-area-inset-bottom);
  background: #fcffec;
  transition: right 0.4s;
}

nav.inactive_nav {
  right: -100vw;
}

#nav_main {
  box-sizing: border-box;
  padding-top: 60px;
  height: calc(var(--vh, 1vh) * 66);
}

.nav_main_elem {
  display: flex;
  width: 100%;
  justify-content: center;
}

.nav_main_elem_t {
  position: relative;
  display: flex;
  margin-bottom: calc(
    var(--vh, 1vh) * 13.2 - 20px - 35px
  ); /* mena value - lineheight*/

  font-family: CaviarDreams;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;

  text-align: center;

  color: #3f1acc;

  transition: color 0.3s;
}

.nav_main_elem_t .b_circle {
  position: absolute;
  top: 0px;
  right: -8px;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #3f1acc;
  transition: background-color 0.3s;
}

.nav_main_elem_t .b_circle_inactive {
  background-color: rgba(0, 0, 0, 0);
}

.nav_main_hiding_elem {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: -18px;
  max-height: 20px;
  margin-bottom: calc(var(--vh, 1vh) * 13.2 - 20px - 35px);
  overflow: hidden;

  transition: margin 0.3s, max-height 0.3s;
}

.inv_elem {
  margin-top: 0px;
  max-height: 0px;
  margin-bottom: 0px;
}

.nav_main_elem_m {
  position: relative;
  overflow: hidden;
  height: 20px;
  margin: 0px 20px;
  font-family: CaviarDreams;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  color: #3f1acc;

  transition: max-height 0.3s, margin-bottom 0.3s, color 0.3s;
}

.nav_main_elem_m_line {
  top: 18px;
  position: absolute;
  height: 0.5px;
  left: 0px;
  right: 100%;
  background-color: #3f1acc;
}

.nav_main_elem_m_line_active {
  animation-duration: 1s;
  animation-name: nav_main_elem_m_line_move;
  animation-iteration-count: infinite;
}

@keyframes nav_main_elem_m_line_move {
  from {
    left: 0px;
    right: 100%;
  }

  50% {
    left: 0px;
    right: 0px;
  }

  to {
    left: 100%;
    right: 0px;
  }
}

.vis_nav_product_new_in {
  max-height: 13px;
  margin-top: 2px;
  margin-bottom: 12px;
}

.vis_nav_product_curtain {
  max-height: 12px;
  margin-bottom: 38px;
}

.blue_text {
  color: #3f1acc;
}

.g_circle {
  position: absolute;
  top: 0px;
  width: 12px;
  height: 12px;
  left: 70px;
  border-radius: 6px;
  background-color: #e8ff5a;
  z-index: -1;
  transition: opcaity 1s;
  opacity: 1;
}

.inv_g_circle {
  opacity: 0;
}

#nav_personal {
  position: absolute;
  top: 65.56%;
  bottom: 9.86%;
  left: 20px;
  right: 20px;
  border-top: 0.5px solid #3f1acc;
  border-bottom: 0.5px solid #3f1acc;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: calc(var(--vh, 1vh) * 4.54) 0px;

  box-sizing: border-box;
}

#nav_personal img {
  margin-left: 5px;
  margin-right: 5px;
  transform: translateY(2px);
}

.nav_s_line {
  display: flex;
  justify-content: center;
  height: 15px;
  font-family: CaviarDreams;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  letter-spacing: -0.02em;

  /* Main_blue */

  color: #3f1acc;
}

#insta_logo {
  width: 12.31px;
  height: 12.31px;
}

#nav_etc {
  position: absolute;
  top: 90.14%;
  bottom: 0px;
  left: 0px;
  right: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#nav_etc img {
  width: 20px;
  height: 20px;
  margin-right: 4.4px;
}

.nav_etc_elem {
  position: absolute;
  top: 10px;
  bottom: 10px;
  display: flex;

  box-sizing: border-box;

  justify-content: center;
  align-items: center;
  font-family: CaviarDreams;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  letter-spacing: -0.02em;
  /* Main_blue */
  color: #3f1acc;
}

#nav_login {
  border-right: 0.5px solid #3f1acc;
  right: 50%;
  left: 14.6px;
}

#nav_join {
  right: 14.6px;
  left: 50%;
}
