#area9 {
  height: 612px;
}

#nineth_p1 {
  position: absolute;
  height: 44px;
  left: 20px;
  top: 48px;
}

#nineth_p2 {
  position: absolute;
  height: 44px;
  left: 20px;
  top: 102px;

  font-family: NotoSansKR;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  /* or 28px */

  letter-spacing: -0.05em;

  color: #000000;
}

.coming_soon {
  position: absolute;
  top: 183px;
  bottom: 50px;
  left: 0px;
  right: 0px;
  z-index: 1;
  background-color: #ffffff;
  opacity: 0.9;
}

.circle_coming_soon {
  position: absolute;
  width: 174.22px;
  height: 210.16px;
  top: 88.92px;
  left: calc(50% - 87.11px);
  animation: move_circle 6s linear infinite;
}

#coming_soon_img {
  position: absolute;
  left: 11.06px;
  top: 0px;
  width: 151px;
  height: 47px;
}

#circle_genie {
  position: absolute;
  width: 105px;
  height: 132px;
  top: 128px;
  left: calc(50% - 52.5px);
}

@keyframes move_circle {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#magazine_h_scroll {
  height: 414px;
  top: 183px;
  padding-left: 20px;
}

.magazine_img_crop {
  min-height: 364px;
  min-width: 264px;
  margin-right: 20px;
}

hr.blue_breaker {
  position: absolute;
  bottom: 1px;
  left: 20px;
  right: 20px;
  background-color: #3f1acc;
  height: 1px;
  border: none;
  padding: 0px;
  margin: 0px;
}
