@import url("./area1.css");
@import url("./area2.css");
@import url("./area3.css");
@import url("./area4.css");
@import url("./area5.css");
@import url("./area6.css");
@import url("./area7.css");
@import url("./area8.css");
@import url("./area9.css");
@import url("./area10.css");
@import url("./area11.css");
@import url("./area12.css");

#kakao_councel {
  position: fixed;
  z-index: 3;
  right: 30px;
  bottom: 50px;
}

#kakao_councel img {
  height: 54px;
  width: 54px;
}
main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

main::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.area {
  position: relative;
  width: 100vw;
}

.area_blue {
  position: relative;
  width: 100vw;
  background-color: #3f1acc;
}

.landing_title_g {
  font-family: CaviarDreams;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
  z-index: 1;
  color: #e8ff5a;
  text-shadow: -0.1px -0.1px 0 currentColor, 0.1px -0.1px 0 currentColor, -0.1px 0.1px 0 currentColor, 0.1px 0.1px 0 currentColor;
}

.landing_title_b {
  font-family: CaviarDreams;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
  z-index: 1;
  color: #3f1acc;
  text-shadow: -0.1px -0.1px 0 currentColor, 0.1px -0.1px 0 currentColor, -0.1px 0.1px 0 currentColor, 0.1px 0.1px 0 currentColor;
}
