main {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 105vh;
  min-height: 640px;
}

h1#title {
  position: relative;
  padding-top: 88px;
  margin-left: 20px;

  width: calc(100vw - 40px);
  padding-bottom: 3px;
  font-family: CaviarDreams;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

  /* Main_blue */
  color: #3f1acc;
  border-bottom: 0.7px solid #3f1acc;
  text-shadow: -0.1px -0.1px 0 currentColor, 0.1px -0.1px 0 currentColor,
    -0.1px 0.1px 0 currentColor, 0.1px 0.1px 0 currentColor;
}

.login_selection {
  display: flex;
  width: calc(100vw - 40px);
  margin-left: 20px;
  height: 43px;
  margin-top: 25px;
}

.login_selection_active {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;
  width: 50%;
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  /* or 19px */

  letter-spacing: -0.06em;

  color: #ffffff;

  background: #3f1acc;
}

.login_selection_inactive {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 43px;
  width: 50%;
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  /* or 19px */

  letter-spacing: -0.06em;

  color: #b5b5b5;

  letter-spacing: -0.06em;

  background: #fafafa;
  border: 0.5px solid #d4d4d4;
}

.login_form {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: calc(100vw - 40px);
}
.login_inputs {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login_input {
  border-radius: 0px;
  font-family: inputfont;
  padding: 10px 20px;
  box-sizing: border-box;
  outline: none;
  background: #ffffff;
  border: 0.5px solid #d4d4d4;
  border-bottom: none;
  width: 100%;
  height: 50px;
}

.login_input:last-child {
  border-bottom: 0.5px solid #d5d5d5;
}

.login_input::placeholder {
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  /* or 19px */

  display: flex;
  align-items: center;
  letter-spacing: -0.06em;

  color: #b5b5b5;
}

.login_form button {
  width: 100%;
  height: 43px;
  background: #3f1acc;
  outline: none;
  border: none;
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: -0.06em;

  color: #ffffff;
}

.login_options {
  margin-bottom: 26px;
  display: flex;
  height: 24px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.login_store {
  display: flex;
  align-items: center;
  /* or 19px */

  display: flex;
  align-items: center;
  letter-spacing: -0.06em;

  color: #000000;
}

.login_store img {
  width: 24px;
  height: 24px;
}

.login_store span {
  margin-left: 4px;
  margin-top: 3px;
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
}

.login_other_options {
  display: flex;
}

.login_other_options a {
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  /* or 19px */

  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: -0.06em;

  margin-left: 20px;

  color: #b5b5b5;
}

.login_other_options .find_id_pw {
  font-family: CaviarDreams;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0em;
}

#login_breaker {
  position: absolute;

  bottom: calc(50vh - 119px);
  display: flex;
  align-items: center;
  width: calc(100vw - 40px);
  height: 19px;
  margin-left: 20px;

  font-family: CaviarDreams;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  /* or 19px */

  display: flex;
  align-items: center;
  text-align: right;

  /* Main_blue */

  color: #3f1acc;
}

#login_breaker hr {
  width: calc(50% - 8px);
  border-color: #3f1acc;
  border-width: 0.25px;
  margin-bottom: 10px;
}

#login_breaker_left {
  margin-right: 6px;
}

#login_breaker_right {
  margin-left: 6px;
}

#social_login_p {
  position: absolute;
  bottom: 156px;
  right: 0px;
  left: 0px;
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  /* or 19px */

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: -0.06em;

  color: #000000;
}

#kakao_login {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
  /* or 19px */

  display: flex;
  align-items: center;
  letter-spacing: -0.06em;

  color: #2a2a2a;

  position: absolute;
  height: 50px;
  left: 20px;
  right: 20px;
  bottom: 90px;
  background: #fae64d;
}

#kakao_login img {
  margin-right: 14px;
}

#naver_login {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 50px;
  left: 20px;
  right: 20px;
  bottom: 30px;

  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
  /* identical to box height, or 19px */

  display: flex;
  align-items: center;
  letter-spacing: -0.06em;

  color: #ffffff;
  background: #5fc539;
}

#naver_login img {
  margin-right: 18px;
}
